<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
  <link rel="stylesheet" href="../../assets/css/style.css">


  <title>Character Creator</title>

</head>

<body>


  <section class="showcase">
    <header>
      <h1 class="logo">Dungeons & Dragons Character Creator</h1>

    </header>



    <video playsinline autoplay loop muted style="min-width:100%; min-height:100%;">
      <source type="video/mp4" src="assets/images/fire3.mp4" poster="assets/images/fire.png">
    </video>


    <div class="text">



      <a href="#">Login</a>
      <br>


      {{{body}}}
    </div>
    </div>


  </section>






  </div>
  <script src="/js/controller.js></script>
</body>


</html>