<div class="video-container">
  <video src="images/fire3.mp4" autoplay muted loop></video>
</div>
<div class="container content">
  <div class="row">
    {{#each characters as |character| }}
    <div class="col">
      <div class="card">
        <div class="card-body char-card" data-id="{{character.id}}">
          <h3>{{character.name}}</h3>
          <p>{{character.race}}</p>
          <p>{{character.class}}</p>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>
