
<div class="container">
    <div class="section">
        
        <div class="row">
            <div class="col s12 m6">
                <br>
                <div class="row center">
                    <a href="/characters" id="download-button">View</a>
                </div>
            </div>
            <div class="col s12 m6">
                <br>
                <div class="row center">
                    <a href="/addchar" id="download-button">Create</a>
                </div>
            </div>
        </div>

        

    </div>

</div>