<section class="showcase">
    <div class="video-container">
        <video src="images/fire3.mp4" autoplay muted loop></video>
    </div>
    <div class="content">
        <h1>D&D</h1>
        <h3>CHARACTER CREATOR EXPRESS</h3>
        <a href="#create" class="btn">Create Character</a>
        <br>
        <button class="btn view-char">View Characters</button>
    </div>
</section>


<section id="create">
    <div class="container">
        <div class="col-md-6 mx-auto">
            <select class="form-select form-select-md mb-3 char_race" aria-label=".form-select-md">
                <option selected>Race</option>
                <option value="dwarf">Dwarf</option>
                <option value="elf">Elf</option>
                <option value="human">Human</option>
            </select>
            <select class="form-select form-select-md mb-3 char_class" aria-label=".form-select-md">
                <option selected>Class</option>
                <option value="rogue">Rogue</option>
                <option value="barbarian">Barbarian</option>
                <option value="ranger">Ranger</option>
            </select>
            <input type="text" class="form-control char_name" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Name">
            <button type="submit" class="btn btn-primary generate">Generate</button>
        </div>
    </div>

</div>