

body {
	font-family: 'Cormorant', sans-serif;
	line-height: 1.5;
}

#bg {
    background-image: url(./assets/images/login-bg.jpg);
    background-size: cover;
}

.row {
    justify-content: center;
}
.col-md {
    padding: 1rem;
    border: 2px solid #fff;
}

.item {
    color:orangered;
    background-image: linear-gradient(grey, black);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    justify-content: center;
    margin: 5px;
    padding-top: 20px;
    width: 100px;
    height: 100px;
    opacity: 85%;
}
.charName {
    width: 15rem;
}