@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap");
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Cormorant', sans-serif;
	line-height: 1.5;
}

nav {
	z-index: 2;
}

a {
	text-decoration: none;
	color: var(--primary-color);
}

h1 {
	font-weight: 550;
	font-size: 80px;
	line-height: 1.5;
	margin-bottom: 25px;
	letter-spacing: 10px
}

h4 {
	font-size: 100px;
}

.fa-trash-alt {
	float: right;
}

.showcase {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #fff;
	padding: 0 20px;
	background-size: cover;
	margin-bottom: -100px;
}

.login-page {
	padding: 40px;
	text-align: center;
	background-image: url(../../images/loginbackground.jpg);
	color: yellow;
	font-weight: 550;
	column-width: auto;
	background-size: cover;
	border: 70px solid rgb(0, 0, 0);
	
}

.login-form {
	min-width: 0;
	width: auto;
	display: inline;
}

.signup-form {
	min-width: 0;
	width: auto;
	display: inline;
}

.video-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	line-height: 0;
	background: var(--primary-color) url(../../images/firePic.png) no-repeat center center/cover;
	margin-bottom: -20px;
}

.video-container video {
	width: auto;
	height: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	object-fit: cover;
	line-height: 0;
	margin-bottom: -20px;
}

.video-container:after {
	z-index: 1;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
}

.content {
	z-index: 2;
}

.btn {
	display: inline-block;
	padding: 10px 30px;
	background: var(--primary-color);
	color: #fff;
	border-radius: 40px;
	border: solid #fff 1px;
	margin-top: 25px;
	opacity: 0.7;
	font-weight: 600;
	width: fit-content;
}

.btn:hover {
	transform: scale(1.1);
	color: yellow;
	font-weight: 600;
}

.characterItem {
	font-size: 15px;
	float: left;
	color: white;
	background-clip: padding-box;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	text-align: center;
	justify-content: center;
	margin: 5px;
	padding-top: 20px;
	width: 18rem;
	height: 150px;
	opacity: 75%;
	font-family: 'Cormorant SC', serif;
}

div.characterItem:hover {
	/* background-color: beige; */
	background-image: linear-gradient(black, grey);
	cursor: pointer;
}

div.characterItem:active {
	background-color: bisque;
	cursor: pointer;
}

#create {
	padding: 40px;
	text-align: center;
	background: url(../../images/dragonart.jpg) no-repeat;
	color: rgb(110, 103, 103);
	font-weight: 300;
	column-width: auto;
	background-size: cover;
}

#create p {
	font-size: 1.2rem;
	max-width: 600px;
	margin: auto;
	font-family: 'Cormorant SC', serif;
}

.btn-primary {
	background-color: rgb(255, 0, 0);
	border-color: black;
	color: #fff;
}

.btn-primary:hover {
	background-color: red;
}

.btn-primary:active {
	color: red;
	background-color: #161617;
	border-color: #494F57;
}

.btn-primary:disabled {
	color: red;
	background-color: black;
}

.btn-primary:visited {
	background: red;
}

.char_class:hover, select option:focus, select option:active {
	background-color: #242424 !important;
	color: #ffffff !important;
}

.char_class:checked {
	background-color: #242424!important;
	color: #ffffff !important;
}

.char_race:hover, select option:focus, select option:active {
	background-color: #242424 !important;
	color: #ffffff !important;
}

.char_race:checked {
	background-color: #242424 !important;
	color: #242424 !important;
}

@media (max-width: 767px) {
	.video-container {
		background: url('../../images/dragonart.jpg');
		background-size: cover;
	}
}